.loading__oval {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin: 15px;
  position: relative;
  border-radius: 10px;
  transition: all 235ms ease-in-out;
  padding: 5px;
  margin-top: 0;
}
.currentTitleBox {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.currentTitle {
  font-size: 20px;
  font-weight: 600;
}
.currentImg {
  width: 130px;
  height: 150px;
  cursor: pointer;
}
.image__container {
  display: flex;
  flex: 1.5 1.5;
  justify-content: center;
}
header {
  background-color: black;
  color: #f37423;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
header span {
  font-size: 20px;
  font-weight: 700;
  margin-left: 5px;
}
.logoutBtn {
  margin: 0;
  border: none;
  color: #f37423;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  background-color: black;
  margin-right: 10px;
  font-family: 'TmoneyRoundWindExtraBold';
}
.mobaBtn {
  background-color: #f37423;
  color: white;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 33px;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
  font-family: 'TmoneyRoundWindExtraBold';
}
.mobaBtn:hover {
  transform: scale(1.05);
}
.title {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
img {
  width: 100px;
  height: 110px;
  border-radius: 10px;
}
.image__description {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 2.7 2.7;
}

.image__description p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.image__description p:first-child {
  font-size: 1.6em;
  font-weight: 600;
}

.image__description p:last-child {
  font-size: 1.7em;
  font-weight: 600;
}
.image__addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}
#addBtn {
  background-color: #f37423;
  color: white;
  width: 60px;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
  font-family: 'TmoneyRoundWindExtraBold';
}
#addBtn:hover {
  transform: scale(1.06);
}
.myBasket__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.myBasket__title__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.myBasket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 6px;
}
.myBasket__title {
  font-weight: 600;
  font-size: 20px;
  margin-left: 35px;
}

.container {
  width: 120px;
  height: 180px;
  padding: 7px;
  margin: 7px;
  border-radius: 10px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container:hover {
  transform: scale(1.1);
}
.product__name p {
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product__price {
  font-size: 16px;
}
.delBtn {
  position: absolute;
  left: 90px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.container p {
  margin: 0;
}

.userInputBox {
  display: none;
}

.conditional__container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  margin: 10px;
  position: relative;
  border-radius: 10px;
  transition: all 235ms ease-in-out;
  padding: 5px;
  margin-top: 0;
}
.conditional__formBox {
  display: flex;
  flex: 3.5 3.5;
  justify-content: center;
}

.conditionalInputBox {
  display: flex;
  flex-direction: column;
}

#inputBoxBtn {
  background-color: #f37423;
  color: white;
  width: 60px;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
}
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 2px solid #f37423;
  width: 300px;
}
.input:focus {
  outline: none;
}
.inputUrl {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 2px solid #f37423;
  width: 180px;
  margin-top: 15px;
}
.inputUrl:focus {
  outline: none;
}
.input__box {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 10px;
}
.input__box label {
  margin-right: 10px;
}
.productBox:hover {
  opacity: 0.7;
}

.productBox:hover > .addProductIcon {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.productBox:hover ~ .addProductText {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.addProductText {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  bottom: 0;
}

.addProductIcon {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

.productBox {
  color: var(--text-color);
  /* font-weight: 400;
  font-size: 0.9rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  position: relative;
}
.newImg__title {
  font-size: 20px;
  margin-bottom: 15px;
}

#changeImgUrl {
  margin-left: 10px;
}
