.loading__oval {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin: 15px;
  position: relative;
  transition: all 235ms ease-in-out;
  padding: 5px;
  margin-top: 8px;
  background-color: white;
}
.currentTitleBox {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.currentTitle {
  font-size: 20px;
  font-weight: 900;
}
.currentImg {
  width: 130px;
  height: 150px;
  cursor: pointer;
}
.image__container {
  display: flex;
  flex: 1.5 1.5;
  justify-content: center;
}
header {
  background-color: #fbfbfb;
  color: #f37423;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-top: 5px;
}
header span {
  font-size: 28px;
  font-weight: 700;
  margin-left: 15px;
}

body {
  background-color: #fbfbfb;
}
.logoutBtn {
  margin: 0;
  padding-top: 5px;
  border: none;
  /* color: #f37423; */
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background-color: #fbfbfb;
  margin-right: 10px;
  /* font-family: 'TmoneyRoundWindExtraBold'; */

  font-family: 'IBM Plex Sans KR', sans-serif;
}
.mobaBtn {
  background-color: white;
  margin: 0;
  border: none;
  cursor: pointer;
  height: 33px;
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 15px;
  box-shadow: 2px 2px 2px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
  font-family: 'IBM Plex Sans KR', sans-serif;
}
.mobaBtn:hover {
  transform: scale(1.05);
}
.title {
  font-size: 20px;
  text-align: center;
  font-weight: 800;
}
img {
  width: 130px;
  height: 143px;
}
.image__description {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 2.7 2.7;
}

.image__description p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.image__description p:first-child {
  font-size: 1.6em;
  font-weight: 100;
}

.image__description p:last-child {
  font-size: 1.7em;
  font-weight: 900;
}
.image__addBtn {
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
#addBtn {
  background-color: black;
  background-color: white;
  width: 60px;
  height: 40px;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 2px 2px 2px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
  font-family: 'IBM Plex Sans KR', sans-serif;
}
#addBtn:hover {
  transform: scale(1.06);
}
.myBasket__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.myBasket__title__box {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.myBasket {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  padding: 6px;
}
.myBasket__title {
  font-weight: 500;
  font-size: 23px;
  margin-left: 23px;
}

.container {
  width: 166px;
  height: 230px;
  padding: 7px;
  margin: 5px;
  box-shadow: 2px 2px 2px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border: 1px solid #f0f0f0;
}
.container:hover {
  transform: scale(1.06);
}
#hoverItem {
  opacity: 0.2;
}

.product__name p {
  width: 110px;
  font-size: 10px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product__price {
  font-size: 13px;
  font-weight: 600;
}
.delBtn {
  position: absolute;
  border: none;
  right: 8px;
  cursor: pointer;
  font-size: 20px;
  color: black;
  background-color: rgba(0, 0, 0, 0);
}
.container p {
  margin: 0;
}

.userInputBox {
  display: none;
}

.conditional__container {
  size: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 2px 0px rgba(217, 217, 217, 1);
  margin: 5px;
  position: relative;
  /* border-radius: 10px; */
  transition: all 235ms ease-in-out;
  padding: 5px 29px 5px 10px;
  margin-top: 0;
}
.conditional__formBox {
  display: flex;
  /* flex: 3.5 3.5; */
  justify-content: center;
}

.conditionalInputBox {
  display: flex;
  flex-direction: column;
}

#inputBoxBtn {
  color: white;
  width: 60px;
  height: 40px;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 2px 2px 2px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
}
.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 2px solid;
  width: 300px;
}
.input:focus {
  outline: none;
}
.inputUrl {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  border-bottom: 2px solid black;
  width: 240px;
  margin-top: 15px;
}
.inputUrl:focus {
  outline: none;
}
.input__box {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 10px;
}
.input__box label {
  margin-right: 10px;
}
.productBox:hover {
  opacity: 0.7;
}

.productBox:hover > .addProductIcon {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.productBox:hover ~ .addProductText {
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.addProductText {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  bottom: 0;
}

.addProductIcon {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

.productBox {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  position: relative;
}
.newImg__title {
  font-size: 20px;
  margin-bottom: 15px;
}

#changeImgUrl {
  margin-left: 10px;
}

.newImg__title {
  font-weight: 500;
}

#selectBox:hover {
  cursor: pointer;
}
