/* .popup {
  background-color: black;
} */
.loading__oval {
  display: flex;
  justify-content: center;
  align-items: center;
}
#imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  margin: 10px;
  position: relative;
  border-radius: 10px;
  transition: all 235ms ease-in-out;
  padding: 5px;
  margin-top: 0;
}
.currentTitleBox {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currentTitle {
  font-size: 20px;
  font-weight: 600;
}
.currentImg {
  width: 130px;
  height: 150px;
}
.image__container {
  display: flex;
  flex: 2 2;
  justify-content: center;
}
header {
  background-color: black;
  color: #f37423;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.mobaBtn {
  background-color: #f37423;
  color: white;
  margin: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 28px;
  font-size: 15px;
  font-weight: 600;
  margin-right: 30px;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
}
.mobaBtn:hover {
  transform: scale(1.1);
}
header span {
  font-size: 20px;
  font-weight: 700;
  margin-left: 3px;
}
.title {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
img {
  width: 100px;
  height: 110px;
  border-radius: 10px;
}
.image__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 3 3;
}

.image__description p {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}

.image__description p:first-child {
  font-size: 1.4em;
  font-weight: 600;
}
.image__description p:last-child {
  font-size: 1.4em;
  font-weight: 600;
}
.image__addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}
#addBtn {
  background-color: #f37423;
  color: white;
  width: 60px;
  height: 40px;
  margin: 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
}
#addBtn:hover {
  transform: scale(1.06);
}
.myBasket__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myBasket__container button {
  margin-right: 35 px;
}
.myBasket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  padding: 6px;
}
.myBasket__title {
  font-weight: 600;
  font-size: 20px;
  margin-left: 35px;
}
.container {
  width: 120px;
  height: 180px;
  padding: 7px;
  margin: 7px;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 6px 6px 8px 0px rgba(217, 217, 217, 1);
  transition: all 235ms ease-in-out;
}
.container:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.container p {
  margin: 0;
}

.userInputBox {
  display: none;
}
